html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  color: #7fa6bf;
}
content {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
svg {
  position: absolute;
}

img#cart-image {
  width: 3%;
}

#mapid {
  /* display: inline-block; */
  flex-grow: 1;
  height: 75%;
  width: 100%;
  padding: 5px;
  border-bottom: 6px solid #9cc9e5 !important;
}
.bottom-div-font {
  font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", Avenir,
    "Helvetica Neue", sans-serif;
  border-right: 6px solid #9cc9e5 !important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  padding-left: 2px;
  padding-right: 2px;
  max-height: 100%;
  overflow: auto;
}
.bottom-div-font-last {
  font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", Avenir,
    "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
}
.border-bottom {
  border-bottom: 6px solid #9cc9e5 !important;
}

.image-div {
  height: 70%;
  width: 100%;
}

img#co-op-image {
  height: 100%;
  width: 100%;
}

div#spot-light-text {
  max-height: 13%;
  padding: 1%;
  overflow: auto;
}

#layers {
  display: inline-block;
  flex: 0 200px;
  padding: 10px;
  vertical-align: top;
}
.icon-image {
  padding: 2px;
  border-radius: 20px;
  border: 1px solid black;
}
div#grid-container {
  display: grid;
  grid-template-columns: 100%;
}
.grid-row {
  text-align: center !important;

  font-size: 12px;
}
.loader {
  border: 6px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 6px solid #555;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 50%;
  margin-top: 3%;
}
.filterLayer {
  font-size: medium;
  text-align: left;
  font-weight: 400;
}
.hr-tag {
  margin-top: 3px;
  margin-bottom: 3px;
}
.fullSize {
  height: 100%;
  width: 100%;
}
.top-div-border {
  border: unset !important ;
  border-bottom: 6px solid #9cc9e5 !important;
}
.countDiv {
  width: 50% !important;
  border: unset !important;
  padding: 0 !important;
}
div#count {
  border-left: unset !important;
  border-top: unset !important;
}
.font-weight-600 {
  font-weight: 600;
}
.display-none {
  display: none !important;
}
.big-font {
  font-weight: bold;
  font-size: larger;
}
.squareFtDiv {
  width: 50% !important;
  border: unset !important;
  border-left: 6px solid #9cc9e5 !important;
  padding: unset !important;
  border-bottom: 6px solid #9cc9e5 !important;
}
#pie-chart {
  width: 130%;
  height: auto;
  padding: 4%;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popOver {
  width: fit-content;
  z-index: 2000;
  position: absolute;
  margin-left: 4%;
}
#popover-content {
  display: none;
}
@media screen and (max-width: 480px) {
  #mapid {
    display: inline-block;
    flex-grow: 1;
    height: 85%;
    width: 100%;
    padding: 5px;
  }
  .bottom-div {
    height: 92%;
  }
  .top-div {
    overflow: auto;
    border: 6px solid #9cc9e5 !important;
    height: 8%;
    color: #62a9d8 !important;
  }
  .top-div-title {
    font-size: larger;
    padding: 0.5%;
    text-align: left;
    font-weight: 400;
  }
  .main-div {
    height: 100%;
    /* background: rgb(225, 236, 239); */
  }

  div#mapDiv {
    overflow: auto;
    height: 15%;
    border: unset !important;
  }
  .left {
    overflow: auto;
    #background-color: #2196f3;
    padding: 20px;
    border: 6px solid #9cc9e5 !important;
    border-top: none !important;
    border-bottom: none !important;
    height: 20%;
  }
  .main {
    overflow: auto;
    #background-color: #f1f1f1;
    border: 6px solid #9cc9e5 !important;
    height: 60%;
  }
  .right {
    overflow: auto;
    background-color: #4caf50;
    padding: 20px;
    border: 6px solid #9cc9e5 !important;
    border-top: none !important;
    height: 20%;
  }
  div#count {
    overflow: auto;
    width: 50%;
    border: unset !important;
    float: left;
    padding: unset !important;
    padding-top: 3% !important;
    height: 100%;
    text-align: left;
    padding: 2%;
  }
}
@media only screen and (min-width: 480px) {
  .main-div {
    height: 100%;
    /* background: rgb(225, 236, 239); */
  }

  .top-div {
    overflow: auto;
    border: 6px solid #9cc9e5 !important;
    border-bottom: none !important;
    height: 8%;
  }
  .top-div-height {
    height: 10% !important;
  }
  .top-div-title {
    font-size: larger;
    padding: 0.5%;
    text-align: left;
    font-weight: 400;
  }
  .bottom-div {
    overflow: auto;
    height: 92%;
  }
  .left {
    overflow: auto;
    #background-color: #2196f3;
    padding: 20px;
    float: left;
    width: 18%;
    /* The width is 20%, by default */
    border: 6px solid #9cc9e5 !important;
    border-right: none !important;
    height: 100%;
  }
  .main {
    overflow: auto;
    #background-color: #f1f1f1;
    float: left;
    width: 64%;
    border: 6px solid #9cc9e5 !important;
    height: 100%;
  }
  .right {
    overflow: auto;
    #background-color: #4caf50;
    /* padding: 20px; */
    float: left;
    width: 18%;
    border: 6px solid #9cc9e5;
    border-left: none;
    height: 100%;
  }
  div#mapDiv {
    border: unset !important;
  }
}

div.explore_area {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: auto;
}
